.header{
  background-size:cover;
  height:600px;
  top:0px;
  background-image:url("http://p1.pichost.me/i/63/1874845.jpg");
}

.header h1 {
	color: #ffffff;
	text-align:center;
    font-family:Opensans-light;
    font-weight:lighter;
  font-size: 60px;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 120px;
}

.header h2 {
  color: #ffffff;
  text-align:center;
  padding-top: 13px;
  font-family:Opensans-light;
  font-size:18px;
  border-color: #cccccc;
  background-color: #125f78;
  border-radius: 8px;
  height:40px;
  width:240px;
  margin:auto;
  
}
